SQLBULKCOPY_SOURCE_CONNECTION="Server=tcp:source.database.windows.net,1433;Database=SourceDb;Authentication=Active Directory Default;Encrypt=True;TrustServerCertificate=False;"
SQLBULKCOPY_SOURCE_OBJECT="dbo.vwCustomers"
SQLBULKCOPY_DESTINATION_CONNECTION="Server=tcp:destination.database.windows.net,1433;Database=DestinationDb;Authentication=Active Directory Default;Encrypt=True;TrustServerCertificate=False;"
SQLBULKCOPY_DESTINATION_TABLE="dbo.Customers"
SQLBULKCOPY_MODE="append"
SQLBULKCOPY_BATCH_SIZE="10000"
SQLBULKCOPY_NOTIFY_AFTER="10000"
